@import '../App.scss';

.characterDetail {
  @include flexCenCen;
  border-radius: 15px;
  overflow: hidden;
}

.characterDetail__container {
  width: 520px;
  height: 365px;
  padding: 0 35px;
  background-color: $modal-color;
}

.characterDetail__item {
  margin: 15px 0;
}

.characterDetail__item-type {
  color: $success-color;
  font-weight: bolder;
}

.characterDetail-img{
  width:365px;
}

.modal__close{
  background-color: $modal-color;

}

.modal__close:hover {
  background-color: $modal-color;
  cursor: pointer;
}

.cerrar{
  background-color: #fff;
  border-radius: 17px 17px 17px 17px;
  padding: 7% 28% 17% 26%;
}

.characterDetail__description {
  font-size: 18px;
  font-family: $title-font;
  color: $primary-color;
  text-align: center;
}